button.sign-in{
    max-width: 170px;
}

.form-group{
    padding: 0 40px;
    width: 100%;
}

a.sign-in
{
    max-width: 170px;
    margin: 0 auto;
}

.switch {
    position: relative;
    margin: 0 auto;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    transition: .4s;
}


input.success:checked + .slider {
    background-color: #8bc34a;
}

input:checked + .slider:before {
    transform: translateX(26px);
    transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.label-text-center
{
    vertical-align: bottom
}
