button.sign-in{
    max-width: 170px;
}

.form-check-input {
    float: none !important;
}
.form-group{
    padding: 0 40px;
    width: 100%;
}

a.sign-in
{
    max-width: 170px;
    margin: 0 auto;
}

.label-text-center {
    vertical-align: bottom
}
