body {
    background-color: #F3F2F3;
}

* {
    color: black;
}

#search-field {
    border-color: #CCCCCC;
}

header, footer {
    background-color: white
}

input {
    background-color: white !important;
    color: gray !important;
}

input:focus {
    color: black !important;
} 

